body{
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

article {
    position: relative;
    width: 250px;
    transition: all .3s ease;
}


article img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;

}

article img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;

}

article:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);


}

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%,
            rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0) 95%);
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before {
    opacity: 1;
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

.center {
    /*  display: flex; */
    /* display: grid;
place-content: center; */
   /*  display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    place-items: center;
}

/* .center > *{
    margin: auto;
} */